<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/actualizarcre.js"></script>
  <script src="js/eliminarcre.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
</head>

<body background="imagenes/fonformularios.PNG"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      
      
      <div class="logoa">
        <p><%= uss %></p>
          <img src="imagenes/u.jpeg" alt="">
          <button><a href="cerrar">Cerrar sesion</a></button>
      </div>

      
    </nav>
    <hr>

    <br>
    
    <a href="/vistaadministrador">Click para volver a Menu Principal</a>

                     <div class="entry-form5">
                          <form class="marco" action="frminsertarcre" method="post">
                               <h2>Credito_cliente</h2><br>
                               <input type="text" name="CreCodigo" class="form-control5" placeholder="Codigo" required="">
                               <input type="text" name="CliDoc" class="form-control5" placeholder="Documento" required="">
                               <input type="text" name="LinCod" class="form-control5" placeholder="codigo_linea" required="">
                               <input type="text" name="CreMontoPrestamo" class="form-control5" placeholder="monto_prestamo" required="">
                               Fecha_credito: <input type="date" name="CreFechaAprobada" class="form-control5" required=""><br>
                               <input type="text" name="CrePlazo" class="form-control5" placeholder="Plazo" required="">
                               <button class="submit-btn form-control" id="form-submit">Siguiente</button>
                              </form>
                     </div>

 </section>

 <from action="" name="frm" id="frm">
  <table class="table">
      <thead>
          <tr>

              <th>CODIGO</th>
              <th>Documento</th>
              <th>CODIGO LINEA</th>
              <th>MONTO PRESTADO</th>
              <th>FECHA APROBADO</th>
              <th>PLAZO</th>
              <th>ACTUALIZAR</th>
              <th>ELIMINAR</th>

          </tr>
      </thead>

      <tbody>
       <% datos.forEach(function (datos){ %>    
          <tr>
              <td><input type="text" value="<%=datos.CreCodigo%>" name="codigo" id="cod" class="cod"></td>
              <td><input type="text" value="<%=datos.CliDoc%>" name="CliDoc" id="doc" class="doc"></td>
              <td><input type="text" value="<%=datos.LinCod%>" name="codli" id="codli" class="codli"></td>
              <td><input type="text" value="<%=datos.CreMontoPrestamo%>" name="monpres" id="monpres" class="monpres"></td>
              <td><input type="text" value="<%=datos.CreFechaAprobada%>" name="montoapro" id="montoapro" class="montoapro"></td>
              <td><input type="text" value="<%=datos.CrePlazo%>" name="crepla" id="crepla" class="crepla"></td>
              <td><input type="submit" value="Actualizar" name="btnact" id="btnact" class="btnact"></td>
              <td><input type="submit" value="Eliminar" name="btneli" id="btneli" class="btneli"></td>
          </tr>
       <%})%>
      </tbody>
  </table>
</from>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>

</body>

</html>